{% load staticfiles %}


<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>ZeroBooks</title>

  <link rel="shortcut icon" type="image/png" href="{% static 'feed/img/favicon/favicon.ico' %}"/>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="{% static 'feed/css/bootstrap.min.css' %}">

  <!-- Custom styles for the Start Bootstrap template -->
  <link rel="stylesheet" href="{% static 'feed/css/shop-homepage.css' %}">
  
  <!-- ZeroBooks feed CSS -->
  <link rel="stylesheet" href="{% static 'feed/css/feed.css' %}">

</head>

