{% load staticfiles %}

<head>

  <meta charset="utf-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <meta name="description" content="">
  
  <meta name="author" content="">

  <title>Chafua</title>

  <link rel="shortcut icon" type="image/png" href="{% static 'wireframe/img/favicon/favicon.ico' %}"/>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="{% static 'wireframe/css/bootstrap.min.css' %}">

  <!-- Chafuacms wireframe CSS -->
  <link rel="stylesheet" href="{% static 'wireframe/css/wireframe.css' %}">

</head>

